@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600;700;800&display=swap');

:root {
    --dark-gray: hsl(248, 10%, 15%);
    --light-gray: hsl(251, 9%, 53%);
    --almost-white: hsl(252, 11%, 91%);
    --almost-black: hsl(248, 15%, 11%);
    --green: hsl(127, 100%, 82%);
    --red: hsl(0, 91%, 63%);
    --orange: hsl(13, 95%, 66%);
    --yellow: hsl(42, 91%, 68%);

    --ff-primary: 'JetBrains Mono', monospace;

    --transtion-300ms: all 300ms ease;
    --transtion-200ms: all 200ms ease;

    --size-300: 0.8125rem;
    --size-400: 1rem;
    --size-500: 1.25rem;
    --size-600: 1.5rem;

    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
}

.DarkMode {
    --dark-gray: hsl(248, 10%, 15%);
    --light-gray: hsl(251, 9%, 53%);
    --almost-white: hsl(252, 11%, 91%);
    --almost-black: hsl(248, 15%, 11%);
    --green: hsl(127, 100%, 82%);
    --red: hsl(0, 91%, 63%);
    --orange: hsl(13, 95%, 66%);
    --yellow: hsl(42, 91%, 68%);
}
.none {
  display: none;
}
/* CSS Reset  */

/* Box sizing rules */
*,
*::before,
*::after {
    padding: 0;
    margin: 0 ;
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* General Styling  */
body {
    display: grid;
    place-content: center;
    font-family: var(--ff-primary);
    transition: var(--transtion-300ms);
    background-color: var(--almost-black);
}

/* Title  */
.title {
  text-align: center;
  color: var(--light-gray);
  font-weight: var(--fw-800);
}
.container {
  z-index: 10;
  padding: 1rem;
  color: white;
  /* backdrop-filter: blur(1px); */
}
.main-container {
  padding: 1rem;
  background-color: var(--dark-gray);
}
/* Display Wrapper  */

.display-wrapper {
  position: relative;
  display: flex;
  padding: 1rem;
  margin-block: 1rem;
  align-items: center;
  border-radius: 0.25rem;
  justify-content: space-between;
  background-color: var(--dark-gray);
  transition: var(--transtion-300ms);
}
.copy-message {
  right: 45px;
  color: var(--green);
  position: absolute;
  font-size: var(--size-300);
  animation: revealUP 350ms ease-out forwards alternate;
}

@media (max-width: 25em) {
  .title {
    font-size: var(--size-600);
  }
  .display-wrapper {
    margin-block-start: 0;
  }
} 
@media (min-width: 28em) {
  .copy-message {
    right: 55px;
    font-size: var(--size-400);
  }
}
.copy-btn {
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: var(--transtion-300ms);
}
@media (hover:hover) {
  .copy-btn:hover + .onmouse-message {
    opacity: 1;
    transform: translateY(0);
  }
}
.onmouse-message {
  position: absolute;
  right: 0;
  top: -45px;
  font-size: 0.65rem;
  background-color:hsl(127, 100%, 82%);
  color: var(--almost-black);
  border-radius: 0.25rem;
  transition: var(--transtion-300ms);
  font-weight: var(--fw-700);
  padding: 0.25rem 0.5rem;
  opacity: 0;
  pointer-events: none;
  transform: translateY(10px);
}
/* Error Message  */
.error {
  color: var(--red);
  text-align: center;
  font-size: var(--size-300);
  font-weight: var(--fw-700);
  transition: var(--transtion-300ms);
  animation: revealUP 350ms ease-out forwards alternate;
}
@keyframes revealUP {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
/* Strength Pills */

.strength {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  border-radius: 0.25rem;
  margin-block: 1rem 1.5rem;
  justify-content: space-between;
  transition: var(--transtion-300ms);
  background-color: var(--almost-black);
}
.strength p {
  color: var(--light-gray);
  font-size: var(--size-300);
  font-weight: var(--fw-800);
}
.strength-pills {
  display: flex;
}
.strength-pills > div {
  width: 7px;
  height: 17px;
  margin-inline-end: .5rem;
  transition: var(--transtion-200ms);
  border: 1px solid var(--almost-white); 
}

/* Generate Button  */

.btn {
  width: 100%;
  border: none;
  padding: 1rem;
  cursor: pointer;
  border-radius: 0.25rem;
  font-size: var(--size-300);
  font-weight: var(--fw-800);
  color: var(--almost-black);
  background-color: var(--green);
  transition: var(--transtion-300ms);
}
.btn:hover {
  transform: translateY(-1px);
  background-color:hsl(127, 100%, 62%)
}